{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>File Storage App</title>

    <link rel="stylesheet" href="{% static 'files_app/style.css' %}">

</head>

<body>

<div class="container">

    <h1>📁 File Storage App</h1>

    <p class="subtitle">
        Upload, view, download, and manage your files easily.
    </p>

    <a class="upload-btn" href="/upload/">
        Upload New File
    </a>

    <hr>

    {% for file in files %}

        <div class="file-box">

            <h3>{{ file.title }}</h3>

            <p>
                Uploaded file:
                {{ file.file.name }}
            </p>

            <div class="button-group">

                <a class="view-btn"
                   href="{{ file.file.url }}"
                   target="_blank">
                    View
                </a>

                <a class="download-btn"
                   href="{{ file.file.url }}"
                   download>
                    Download
                </a>

                <a class="delete-btn"
                   href="/delete/{{ file.id }}/">
                    Delete
                </a>

            </div>

        </div>

    {% empty %}

        <div class="empty-box">

            <h3>No files uploaded yet</h3>

            <p>
                Start by uploading your first file.
            </p>

        </div>

    {% endfor %}

</div>

<footer>

    <p>
        Django File Storage Project • CSE 310
    </p>

</footer>

</body>
</html>