{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Upload File</title>

    <link rel="stylesheet" href="{% static 'files_app/style.css' %}">

</head>

<body>

<div class="container">

    <h1>📤 Upload File</h1>

    <p class="subtitle">
        Select a file and upload it to your storage.
    </p>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="upload-btn">
            Upload File
        </button>

    </form>

    <br>

    <a class="view-btn" href="/">
        ← Back Home
    </a>

</div>

</body>
</html>